<app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>
<div class="container-block" *ngIf="!pageLoading">
  <section class="about-section">

    <div class="about-details">
      <h1 class="title py-3">About Me</h1>
      <ul class="description">
        <li>
          Hello! My name is <b>Vignesh Vasanth C</b></li>
          <li> As a software engineer with 6
          years of experience in front-end development, I possess a strong skill
          set in various tools and technologies such as Angular, HTML, CSS, Tailwind CSS, SCSS,
          Bootstrap, JavaScript, and TypeScript.
        </li>
        <li>
          With my knowledge of Angular, I can create complex web applications
          that are highly interactive and responsive. Angular is a popular
          front-end framework that uses a declarative approach to building user
          interfaces, which makes it easier to write clean and maintainable code.
        </li>
        <li>
          My proficiency in HTML and CSS allows me to design and style web
          pages with ease, making them visually appealing and accessible.
          Bootstrap, a popular CSS framework like SCSS, Less, Tailwind CSS, helps you to create responsive web
          designs that are compatible with different screen sizes and devices.
        </li>
        <li>
          My expertise in JavaScript and TypeScript enables you to write
          powerful and efficient client-side scripts that can manipulate the
          Document Object Model (DOM) and provide interactivity to web pages.
          TypeScript, a superset of JavaScript, adds features such as static
          typing and class-based object-oriented programming, making it easier to
          write scalable and maintainable code.
        </li>
        <li>
          Overall, your skills and experience as a front-end developer make you a
          valuable asset to any software development team.
        </li>
      </ul>
    </div>
    <div class="about-profile" *ngFor="let imgItem of profilePic">
      <div class="about-profile-pic">
        <!-- <img class="my-profile" [src]="imgItem.src" alt=""> -->
      </div>
      <!-- <p>{{ imgItem.name }}</p> -->
  </div>
  </section>
  <button class="smooth-scroll" (click)="scrollToElement(target)">
    <fa-icon class="side-nav-link-icon" [icon]="faDownArrow"></fa-icon>
  </button>

  <section #target>
    <div class="skills-block">
      <h2 class="title py-8 pb-2">Skills</h2>
      <ul class="skills">
        <li class="skill-list" *ngFor="let skilItem of skillPic">
          <img [src]="skilItem.src" alt="">
          <h3 class="text-center font-bold py-8">{{skilItem.name}}</h3>
        </li>
      </ul>
    </div>
  </section>
</div>

