<app-full-page-loader *ngIf="pageLoading"></app-full-page-loader>

<div class="container-block" *ngIf="!pageLoading">
  <div class="header-section">
    <div class="title-block">
        <h2 class="title">Roadside Assistance</h2>
    </div>
    <div class="back-btn float-right">
      <button type="button" class="btn btn-secondary" (click)="backUrl()">
          Back
      </button>
    </div>
  </div>
  <div class="project-details">
    <ul class="project-block">
      <li *ngFor="let roadAssistanceData of roadAssistanceDetails">
        <h2 class="sub-title">{{ roadAssistanceData.overview }}</h2>
        <div class="project-description">
          <p class="description">{{ roadAssistanceData.description }}</p>
        </div>
        <div class="project-img">
          <img [src]="roadAssistanceData.src" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
