$background-menu: var(--menu-background);
$content-color-gray-light: var(--content-light);

//text-color
$text-color-white: var(--text-white);
$text-color-black: var(--text-black);

$color-light-white: var(--light-white);
$scrollbar-color-gray: var(--scrollbar-color-gray);
$scrollbar-background: var(--scrollbar-background);